HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
.vscode/
*.iws
*.iml
*.ipr
*.log

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
.mvn/

package-lock.json
yarn.lock
tailwind.css
node_modules/